@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
	height: 0.3rem;
	width: 0.3rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: theme(colors.on-surface);
	border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
	background: theme(colors.primary);
}
